version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/" # must be root (ref. docs)
    schedule:
      interval: "monthly"
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
