name: Build and test

on:
  push:
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - name: git-checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # ratchet:astral-sh/setup-uv@v7
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # ratchet:actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - name: Install all dependencies
        run: uv sync
      - name: Build
        run: uv run mkdocs build
