name: Build and test

on:
  push:
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - name: git-checkout
        uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v5
      - uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - name: Install all dependencies
        run: uv sync
      - name: Build
        run: uv run mkdocs build
